/* vietnamese */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03Rep8hNX6plRPjLo.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03ROp8hNX6plRPjLo.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03Sup8hNX6plRP.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.homepage-navbar {
    z-index: 99999999;
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* background-color: var(--mainColor); */

    /* background: rgba(0, 0, 0, 0.21);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.21) 0%, rgba(231, 56, 39, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.21)), color-stop(100%, rgba(231, 56, 39, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.21) 0%, rgba(231, 56, 39, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.21) 0%, rgba(231, 56, 39, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.21) 0%, rgba(231, 56, 39, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.21) 0%, rgba(231, 56, 39, 0) 100%); */

    background: rgba(0, 0, 0, 0.21);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.71) 0%, rgba(231, 56, 39, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.21)), color-stop(100%, rgba(231, 56, 39, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.71) 0%, rgba(231, 56, 39, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.10) 0%, rgba(231, 56, 39, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.71) 0%, rgba(231, 56, 39, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.51) 0%, rgba(231, 56, 39, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#e73827', GradientType=0);
    position: fixed;
}




.homepage-navbar-left-logo {
    width: 200px;
    padding: 20px;
    cursor: pointer;
}

.homepage-navbar-right {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homepage-navbar-church {
    padding-right: 35px;

}

.homepage-navbar-church-button {
    display: flex;
    cursor: pointer;
}

.homepage-navbar-church-button-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: white;
}

.homepage-navbar-church-button-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(199deg) brightness(111%) contrast(101%);
    padding-left: 10px;
    margin-top: 3px;
    font-size: 20px;
}

.homepage-navbar-menu>i {
    font-size: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(199deg) brightness(111%) contrast(101%);
    padding-right: 35px;
    cursor: pointer;
}

.homepage-navbar-location>i {
    font-size: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(199deg) brightness(111%) contrast(101%);
    padding-right: 35px;
    cursor: pointer;
}

.homepage-navbar-search>i {
    font-size: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(199deg) brightness(111%) contrast(101%);
    padding-right: 25px;
    cursor: pointer;
}

.homepage-body {
    margin: 0;
}


.homepage-navbar-church-toggle {
    width: auto;
    background-color: rgba(0, 0, 0, 0.507);
}

.homepage-navbar-church-toggle div:hover {
    color:var(--mainColor) !important;
}

.homepage-navbar-church-toggle-container {
    position: absolute;
}

.homepage-navbar-church-toggle-space {
    height: 15px;
}



.homepage-navbar-church-toggle div {
    font-size: 25px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.homepage-navbar-church-toggle div:first-child {
    padding: 15px 15px 7.5px 15px;
}

.homepage-navbar-church-toggle div:first-child:hover {
    background-color: rgba(0, 0, 0, 0.343);
}

.homepage-navbar-church-toggle div:nth-child(2):hover {
    background-color: rgba(0, 0, 0, 0.347);
}

.homepage-navbar-church-toggle div:nth-child(2) {
    padding: 7.5px 15px 15px 15px;
}

.homepage-all {
    top: 0;
    position: absolute;
    z-index: -1;
    width: 100vw;
}

.homepage-content {}

.homepage-welcome-img {
    width: 100vw;
    height: 6rem;
    background-image: url('./../images/homepage/freedomChurchHomepage.jpeg');
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-welcome-img-text-one {
    font-size: calc(1vw + 1vh + 15vmin);
    color: white;
    font-family: Dancing Script
}

.homepage-welcome-img-text-two {
    font-size: calc(1vw + 1vh + 8vmin);
    color: white;
    font-family: Dancing Script
}

.homepage-footer {
    background-color: var(--mainColor);
}

.homepage-footer-top {
    width: 100%;
    height: 238px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 44px;
    font-family: 'Brandon';

}

.homepage-footer-top div:nth-child(2) {
    font-size: 24px;
    font-family: 'Brandon';
    padding: 15px 0px 20px 0px
}

.homepage-footer-top i {
    font-size: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.homepage-footer-top i:hover {
    color: #6cffe2;
}

.homepage-footer-top i:last-child {
    font-size: 30px;
    padding-right: 0px;
}


.homepage-footer-middle {
    width: 100%;
    height: 208px;
    border-top: 1px solid rgba(255, 255, 255, 0.585);
    border-bottom: 1px solid rgba(255, 255, 255, 0.585);
    display: flex;
    flex-direction: row;
}

.homepage-footer-middle-left {
    color: white;
    width: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.585);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-footer-middle-left div:first-child {
    cursor: default;
    font-size: 30px;
    font-family: 'Brandon-Thick';
    padding-bottom: 15px;
}

.homepage-footer-middle-left div:nth-child(2) {
    font-size: 17px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.homepage-footer-middle-right {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-footer-middle-right div:first-child {
    cursor: default;
    font-size: 30px;
    font-family: 'Brandon-Thick';
    padding-bottom: 15px;
}

.homepage-footer-middle-right div:nth-child(2) {
    font-size: 17px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a:visited {
    color: white;
}

.homepage-footer-bottom {
    width: 100%;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-footer-bottom-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.homepage-footer-bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}

.homepage-footer-bottom-text>* {
    cursor: pointer;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

.homepage-footer-bottom-text>*:hover {
    text-decoration: underline;
}

#homepage-footer-bottom-give:hover {
    text-decoration: underline;
}

.homepage-footer-bottom-text div:first-child {
    cursor: default;
    color: white;
    font-family: 'Brandon-Thick';
    font-size: 30px;
    text-decoration: none;
}

.homepage-footer-bottom-text>* {
    padding-bottom: 20px;
}

#homepage-footer-bottom-give {
    text-decoration: none;
    color: white;
}

.homepage-map {
    border-top: 3px solid rgb(127, 127, 127);

}

.homepage-map iframe {
    width: 100%;
    height: 500px;
}

#contact-us-form-bottom-right-thanks {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
}

.contact-us-form {
    background-color: rgb(248, 248, 248);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us-form-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.contact-us-form-top>div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    padding-bottom: 25px;
    text-align: center;
}

.contact-us-form-top>div:nth-child(2) {
    line-height: 30px;
    width: 35%;
}

.contact-us-form-top>div:first-child {

    font-family: 'Brandon-Thick';
    font-size: 55px;
}

.contact-us-form-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 100px;
}

.contact-us-form-bottom-left {
    width: 50%;
    padding-right: 200px;
    margin-left: -100px;
}

.contact-us-form-bottom-left>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
}

.contact-us-form-bottom-left>div:first-child>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}


.contact-us-form-bottom-left-question {
    width: 410px;
    padding-bottom: 60px;
}

.contact-us-form-bottom-left-question-question {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    padding-bottom: 10px;
    letter-spacing: 3px;

}





.contact-us-form-bottom-right {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

.contact-us-form-bottom-right input {
    border: 1px solid rgba(128, 128, 128, 0.207);
    border-radius: 3px;
    height: 30px;
    width: 200px;
}

.contact-us-form-bottom-right-input textarea {
    border: 1px solid rgba(128, 128, 128, 0.207);
    border-radius: 3px;
    width: 95%;
    height: 60px;
    resize: none;
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.contact-us-form-bottom-right input {
    padding: 0px 10px;
    font-size: 15px;
}

.contact-us-form-bottom-right-name {
    display: flex;
    flex-direction: column;
}

.contact-us-form-bottom-right-name>div:first-child {
    padding-bottom: 7px;
}

.contact-us-form-bottom-right-name>div:nth-child(2) {
    display: flex;
    flex-direction: row;
}

.contact-us-form-bottom-right-name>div:nth-child(2)>div {
    padding-right: 15px;
}

.contact-us-form-bottom-right-name>div:nth-child(2)>div>div {
    padding-top: 5px;
    font-size: 12px;
    color: gray;
    padding-bottom: 20px;
}

.contact-us-form-bottom-right-input {
    padding-bottom: 20px;
}

.contact-us-form-bottom-right-input>div {
    padding-bottom: 7px;
}

.contact-us-form-bottom-right button {
    padding: 15px;
    border: none;
    border-radius: 3px;
    background-color: gray;
    color: white;
    cursor: pointer;
    font-size: 16px;
}


.contact-us-form-new-here {
    font-family: 'Brandon';
    font-size: 15px;
    color: var(--mainColor);
    padding-top: 90px;
    padding-bottom: 10px;
}

.contact-us-form-bottom-left-question i {
    font-size: 12px;
    padding-right: 10px;
}

.contact-us-form-bottom-left-question-info {

    line-height: 25px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-height: 0px;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}



/* .contact-us-form-bottom-left-question-info > div {
    height: 0;
}  */

hr {
    width: 110%;
    margin-left: -5%;
    margin-bottom: 10px;
    background-color: rgba(128, 128, 128, 0.191);
    border: none;
    height: 1px;
}

.homepage-menu-cover {
    width: 100vw;
    height: 100%;
    position: absolute;
    background-color: var(--mainColor);
    opacity: 0;
    transition: opacity 0.3s ease-in;
}



.homepage-menu-cover-backgorund-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 1;
    margin-left: 50px;
    margin-top: 25px;
}

.homepage-menu-cover-backgorund-logo div {
    font-size: 1100px;
    font-family: 'Brandon-Thick';
    color: #33ac94;
}

.homepage-menu-cover-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.homepage-menu-cover-navbar-logo img {
    width: 250px;
    padding-left: 40px;
}

.homepage-menu-cover-navbar-exit {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(199deg) brightness(111%) contrast(101%);
    font-size: 20px;
    padding-right: 40px;
    z-index: 3;
    cursor: pointer;
}



.homepage-menu-cover-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    z-index: 4;
    padding-top: 40px;
}

.homepage-menu-cover-body-right {
    z-index: 5;
    margin-right: 40px;
}

.homepage-menu-cover-body-right>div {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2px;
    padding: 20px 70px 20px 70px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}

.homepage-menu-cover-body-right>div:hover {
    background-color: white;
    color: var(--mainColor);
}

.homepage-menu-cover-body-left {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 40px;
}

.homepage-menu-cover-body-left-top {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-bottom: 40px;
}

.homepage-menu-cover-body-left-bottom {
    display: flex;
    color: white;
    justify-content: space-between;
}

.homepage-menu-cover-body-left-top>div>div {
    font-size: 20px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homepage-menu-cover-body-left-top>div>div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.homepage-menu-cover-body-left-top>div>div:first-child {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    cursor: default;
}

.homepage-menu-cover-body-left-bottom>div {
    width: 300px;
    z-index: 9;
}

.homepage-menu-cover-body-left-top>div {
    width: 300px;
    z-index: 9;
}

.homepage-menu-cover-body-left-bottom>div>div {
    font-size: 20px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.homepage-menu-cover-body-left-bottom>div>div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.homepage-menu-cover-body-left-bottom>div>div:first-child {
    cursor: default;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.homepage-menu-cover-body-left-bottom {
    padding-top: 50px;
}


.homepage-welcome-text {

    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-top: 3rem; */
}

.homepage-welcome-text-left {
    width: 40%;
    max-width: 575px;
}

.homepage-welcome-text-left>div:first-child {
    color: var(--mainColor);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 80px;
}

.homepage-welcome-text-left>div:nth-child(2) {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 15px;
}

.homepage-welcome-text-left>div:nth-child(3) {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
    padding-bottom: 40px;
    font-size: 19px;
}

.homepage-welcome-text-left>div:nth-child(3)>span {
    color: var(--mainColor);
    font-weight: bold;
}

.homepage-welcome-text-left>button {
    cursor: pointer;
    margin-bottom: 80px;
    border: none;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    font-size: 19px;
}

.homepage-welcome-text-left>button:hover {
    color: var(--mainColor);
}


.homepage-welcome-text-right {
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    max-width: 500px;
    height: 100%;
}

.homepage-welcome-text-right img {
    width: 100%;
}

.homepage-get-to-know-us {
    background-color: #03ae8c;
    color: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.homepage-get-to-know-us-left {
    padding-top: 80px;
    max-width: 500px;
    padding-left: 10px;

}

.homepage-get-to-know-us-left>div:first-child {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-bottom: 25px;
    line-height: 55px;
}

.homepage-get-to-know-us-left>div:nth-child(2) {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 30px;
    line-height: 28px;
}

.homepage-get-to-know-us-right {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
    padding-right: 20px;
}

.homepage-get-to-know-us-right i {
    font-size: 35px;
    color: rgb(15, 67, 157);
    padding-bottom: 20px;
}

.homepage-get-to-know-us-right-sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homepage-get-to-know-us-right-sub>div {
    max-width: 400px;
}

.homepage-get-to-know-us-right-sub>div:first-child {
    padding-right: 60px;
    padding-left: 60px;
}

.homepage-get-to-know-us-right-sub>div>div:nth-child(2) {
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 10px;
}

.homepage-get-to-know-us-right-sub>div>div:nth-child(3) {
    color: rgb(213, 213, 213);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
    padding-bottom: 20px;
    font-size: 18px;
}

.homepage-get-to-know-us-right-sub>div>div:nth-child(4) {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 40px;
    border-right: white solid 2px;
    width: 110px;
    padding: 5px 0px;
    cursor: pointer;
}

.homepage-get-to-know-us-right-sub>div>div:nth-child(4):hover {
    color: black;
    border-right: solid black 2px;
}



.overflow-hidden {
    overflow: hidden;
}

.height-auto {
    max-height: 295px;
    transition: max-height 0.4s ease-in;
}

.opacity-one {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}



.display-none {
    display: none !important;
}

.position-static {
    position: static !important;
}

.opacity-half {
    opacity: 0.5;
}

.loader-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 474px;
    height: 400px;
}

.loader {
    border: 16px solid #e8e8e8;
    /* Light grey */
    border-top: 16px solid var(--mainColor);
    /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;

    animation: spin 2s linear infinite;
    /* position: absolute; */
    /* margin-left: 200px; */
    /* bring your own prefixes */
    opacity: 1 !important;
    z-index: 9999999999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





@media screen and (max-width: 768px) {

    body {
        background-color: white;
        overflow-x: hidden;
    }

    .homepage-navbar {
        border: 10px solid black;
        width: 100vw;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: fixed;
        background: none;
        background-color: white;
        -webkit-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.75);
    }

    .homepage-navbar-church-button-text {
        color: black;
    }



    .homepage-navbar-left {
        display: none;
    }

    .homepage-navbar-church-button-text {
        font-size: 22px;
        padding-left: 15px;
        padding-right: 10px;
    }

    .homepage-navbar-church-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .homepage-navbar-church {
        padding-right: 0px;
    }

    .homepage-navbar-right {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    .homepage-navbar-right>div:nth-child(4) {
        padding-right: 15px;
    }

    .homepage-navbar-right i {
        padding: 0;
        color: black;
    }

    #homepage-navbar-menu i {
        color: black;
    }

    .homepage-welcome-img-text-one {
        font-size: 15vw;
    }

    .homepage-welcome-img-text-two {
        font-size: 13vw;
    }




    .homepage-welcome-text {
        width: 100vw;
        flex-direction: column-reverse;
    }

    .homepage-welcome-text img {
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .homepage-welcome-text-left {
        width: 90vw;

    }

    .homepage-welcome-text-left>div:first-child {
        padding-top: 40px;
    }

    .homepage-welcome-text-right {
        width: 100vw;
        padding: 0;
        display: none;
    }

    .homepage-get-to-know-us {
        flex-direction: column;
    }

    .homepage-get-to-know-us-left {
        width: 90vw;
        padding-top: 30px;
    }

    .homepage-get-to-know-us-left>div:first-child {
        font-size: 40px;
        line-height: 40px;
    }

    .homepage-get-to-know-us-right {
        padding-top: 0;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homepage-get-to-know-us-right-sub {
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homepage-get-to-know-us-right-sub>div:first-child {
        padding: 0;
    }

    .contact-us-form {
        width: 100vw;
    }

    .contact-us-form-new-here {
        padding-top: 40px;
    }

    .contact-us-form-top>div:nth-child(2) {
        width: 95%;
        line-height: 25px;
    }

    .contact-us-form-top>div:nth-child(3) {
        width: 95%;
        line-height: 25px;
    }

    .contact-us-form-top {
        padding-bottom: 0;
    }

    .contact-us-form-bottom {
        padding-top: 0;
        flex-direction: column;
        width: 90vw;
        justify-content: center;
        align-items: center;
    }

    .contact-us-form-bottom-left {
        width: 90vw;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .contact-us-form-bottom-left div {
        width: 90vw;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }

    .contact-us-form-bottom-left-question-question {
        letter-spacing: 1px !important;
    }

    .contact-us-form-bottom-left-question-info {
        line-height: 20px;

    }

    .contact-us-form-bottom-left-question {
        padding-bottom: 10px;
        justify-content: center;
        align-items: center;
        line-height: 22px;
    }

    .contact-us-form-bottom-right {
        width: 90vw;
    }

    .contact-us-form-bottom-right-name>div {
        flex-direction: column !important;
    }

    .contact-us-form-bottom-right input {
        width: 85vw;
    }

    .contact-us-form-bottom-right textarea {
        width: 85vw !important;
        box-sizing: content-box;
    }

    .loader-container {
        width: 90vw;
    }

    .homepage-map iframe {
        width: 100vw;
    }


    .homepage-footer {
        width: 100vw;
    }

    .homepage-footer-middle {
        flex-direction: column;
        border-bottom: none;
    }

    .homepage-footer-middle-left {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100vw;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.585);
    }

    .homepage-footer-middle-left-body {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .homepage-footer-middle-right {
        width: 100vw;
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.585);
    }


    .homepage-footer-bottom {
        height: auto;
        padding-top: 60px;
    }

    .homepage-footer-bottom-container {
        padding-top: 60px;
        display: grid;
        grid-template-columns: 50% 50%;
        height: auto;

    }

    .homepage-footer-bottom-text {
        padding: 0;
        padding-bottom: 20px;
    }

    .homepage-footer-bottom-text>div:first-child {
        text-align: center;
    }

    .homepage-footer-bottom-container>div:last-child {
        padding-bottom: 50px;
    }

    .homepage-menu-cover-backgorund-logo {
        position: absolute;
        width: 10vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        z-index: 1;
        margin-top: 25px;
    }

    .homepage-menu-cover-navbar-logo img {
        width: 50vw;
        padding-left: 20px;
        padding-top: 15px;
    }

    .homepage-menu-cover-navbar-logo {}

    .homepage-menu-cover-body {
        width: 100vw;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 20;
    }

    .homepage-menu-cover-body-right {
        width: 90vw;
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .homepage-menu-cover-body-right>div {
        width: 80%;
        padding: 15px 10px 15px 10px;
        font-size: 15px;
        align-self: center;
    }

    .homepage-menu-cover-body-left {
        width: 100vw;
        padding-left: 0;
        padding-top: 50px;
    }

    .homepage-menu-cover-body-left-top {
        padding-bottom: 0;
        justify-content: center;
        width: 100vw;
    }

    .homepage-menu-cover-body-left-bottom {
        padding-top: 30px;
        justify-content: center;
        width: 100vw;
    }

    .homepage-menu-cover-body-left-top>div {
        width: auto;
        padding-right: 15px;
    }

    .homepage-menu-cover-body-left-top>div:last-child {
        width: auto;
        padding-right: 0px;
    }

    .homepage-menu-cover-body-left-top>div>div {
        font-size: 15px;
        padding: 0;
        padding-bottom: 10px;
    }

    .homepage-menu-cover-body-left-top>div>div:first-child {
        font-size: 18px;
        font-weight: bold;
    }

    .homepage-menu-cover-body-left-bottom>div {
        width: auto;
        padding-right: 15px;
    }

    .homepage-menu-cover-body-left-bottom>div:last-child {
        width: auto;
        padding-right: 0px;
    }

    .homepage-menu-cover-body-left-bottom>div>div {
        font-size: 15px;
        padding: 0;
        padding-bottom: 10px;
    }

    .homepage-menu-cover-body-left-bottom>div>div:first-child {
        font-size: 18px;
        font-weight: bold;
    }

    #homepage-navbar-menu-icon {
       filter: invert(0%) sepia(91%) saturate(3647%) hue-rotate(88deg) brightness(102%) contrast(107%);;
    }

    #homepage-navbar-location i {
        filter: invert(0%) sepia(91%) saturate(3647%) hue-rotate(88deg) brightness(102%) contrast(107%);;

    }

    #homepage-navbar-magnifying-glass i {
        filter: invert(0%) sepia(91%) saturate(3647%) hue-rotate(88deg) brightness(102%) contrast(107%);;

    }

    .homepage-navbar-church-button i {
        filter: invert(0%) sepia(91%) saturate(3647%) hue-rotate(88deg) brightness(102%) contrast(107%);;

    }

}
