<div id="homepage-map" class="homepage-map">

</div>
<div id="homepage-footer" class="homepage-footer">
    <div class="homepage-footer-top">
        <div>Freedom Church</div>
        <div>STAY CONNECTED WITH US</div>
        <div class="homepage-footer-top-icons">
            <i id="homepage-footer-facebook-icon"  class="fa-brands fa-facebook-f"></i>
            <i id="homepage-footer-email-icon" class="fa-solid fa-envelope"></i>
            <i id="homepage-footer-phone-icon" class="fa-solid fa-phone"></i>
            <i id="homepage-footer-question-icon" class="fa-solid fa-circle-question"></i>
        </div>

    </div>
    <div class="homepage-footer-middle">
        <div class="homepage-footer-middle-left">
            <div id="homepage-footer-middle-left-title" class="homepage-footer-middle-left-title"></div>
            <div id="homepage-footer-middle-left-body" class="homepage-footer-middle-left-body"></div>
        </div>
        <div class="homepage-footer-middle-right">
            <div id="homepage-footer-middle-left-title" class="homepage-footer-middle-left-title">SERVICE</div>
            <div id="homepage-footer-middle-left-body" class="homepage-footer-middle-left-body">Sundays | 10:30
                AM</div>

        </div>
    </div>
    <div class="homepage-footer-bottom">
        <div class="homepage-footer-bottom-container">
            <div class="homepage-footer-bottom-text">
                <div>WATCH</div>
                <div id="homepage-footer-bottom-text-watch-live" >Live on Facebook</div>
                <div id="homepage-footer-bottom-text-watch-past" >Past Sermons</div>
            </div>
            <div class="homepage-footer-bottom-text">
                <div>ABOUT</div>
                <div>Mission & Vision</div>
                <div>Leadership</div>
                <div>Location</div>
                <div class="footer-log-in">Log In</div>
            </div>
            <div class="homepage-footer-bottom-text">
                <div>CONNECT</div>
                <div>Kids</div>
                <div>Young Adult</div>
                <div>Adult Bible Studies</div>
                <div>Events</div>
            </div>
            <div class="homepage-footer-bottom-text">
                <div>GET INVOLVED</div>
                <div>Worship Team</div>
                <div>Tech Team</div>
                <div>Children's Ministry</div>
            </div>
            <div class="homepage-footer-bottom-text">
                <div>GIVE</div>
                <div id="homepage-footer-bottom-text-give-information" >Giving Information</div>
                <a id="homepage-footer-bottom-give">Give to </a>
            </div>

        </div>
    </div>
</div>
</div>
</div>
